/* CUSTOMIZE THE CAROUSEL
--------------------------------------------------
-------------------------------------------------- */
.item img {
    max-height: 750px;
}


/* ITEM #1 postavljanje teksta u gornji desni kut */
.pomen .carousel-caption {
    /*padding-bottom: 20%;*/
    top: 45%;
    right: -20%;
    transform: translateY(-50%);
    color: transparent;
}
.pomen h1 {
    background-size: cover;
    text-transform: lowercase;
    font-size: 8em;
    filter: brightness(1.8);
}
/* ITEM #2 novootvoreni salon Srebrni Mjesec*/
.salon .carousel-caption {
    top: 40%;
    transform: translateY(-50%);
    color: transparent;
}

.salon h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    /*color: gold;*/
    font-family: 'Nosifer', cursive;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#1D2671), color-stop(0.25, #C33764), color-stop(0.5, #1D2671), color-stop(0.75, #C33764), to(#1D2671));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #1D2671 , #C33764, #1D2671 , #C33764, #1D2671 );

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #1D2671 , #C33764, #1D2671 , #C33764, #1D2671);

    /* IE 10 */
    background: -ms-linear-gradient(left, #1D2671 , #C33764, #1D2671 , #C33764, #1D2671);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #1D2671 , #C33764, #1D2671 , #C33764, #1D2671);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(3);
    /*opacity: 0.8;*/
}

.salon h2 {
    font-size: 7.8em;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#03001e), color-stop(0.25, #1a82f7), color-stop(0.5, #03001e), color-stop(0.75, #1a82f7), to(#2948ff));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #03001e , #1a82f7, #03001e , #1a82f7, #03001e );

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);

    /* IE 10 */
    background: -ms-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(3);
}

/* ITEM #3 postavljanje teksta na sredinu horizontalno i vertikalno */
.arena .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
}
.arena h1 {
    font-size: 8.3em;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#03001e), color-stop(0.25, #1a82f7), color-stop(0.5, #03001e), color-stop(0.75, #1a82f7), to(#2948ff));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #03001e , #1a82f7, #03001e , #1a82f7, #03001e );

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);

    /* IE 10 */
    background: -ms-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #03001e, #1a82f7, #03001e, #1a82f7, #03001e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(2.5);
}
.arena a {
    border-radius: 400px;
    background: rgba(65, 105, 225, 0.7);
    color: white;
    font-size: 4em;
}

.arena a:hover {
    color: rgba(65, 105, 225, 0.9);
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1300px) {
    .pomen .carousel-caption {
        top: 40%;
    }
    .pomen h1 {
        font-size: 6.5em;
    }
    .salon h1 {
        font-size: 2.2em;
    }

    .salon h2 {
        font-size: 7em;
    }
    .arena h1 {
        font-size: 8em;
    }
    .arena a {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 1200px) {
    .pomen h1 {
        font-size: 6em;
    }
    .salon h1 {
        font-size: 2em;
    }

    .salon h2 {
        font-size: 6em;
    }
    .arena h1 {
        font-size: 6.5em;
    }
    .arena a {
        font-size: 3em;
    }
}
@media screen and (max-width: 1000px) {
    .pomen .carousel-caption {
        top: 35%;
    }
    .pomen h1 {
        font-size: 5em;
    }
    .salon h1 {
        font-size: 1.8em;
    }

    .salon h2 {
        font-size: 4.5em;
    }
    .arena h1 {
        font-size: 5em;
    }
    .arena a {
        font-size: 2em;
    }
}

@media screen and (max-width: 800px) {
    .pomen h1 {
        font-size: 3em;
    }
    .salon h1 {
        font-size: 1.7em;
    }

    .salon h2 {
        font-size: 4em;
    }
    .arena h1 {
        font-size: 3.5em;
    }
    .arena a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .pomen h1 {
        font-size: 2em;
    }
    .salon h1 {
        font-size: 1.2em;
    }

    .salon h2 {
        font-size: 3em;
    }
    .arena .carousel-caption {
        top: 40%;
    }
    .arena h1 {
        font-size: 3em;
    }
    .arena a {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 500px) {
    .pomen h1 {
        font-size: 2em;
    }
    .salon h1 {
        font-size: 1em;
    }

    .salon h2 {
        font-size: 2em;
    }
    .arena h1 {
        font-size: 2em;
    }
    .arena a {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 300px) {
    .pomen h1 {
        font-size: 1em;
    }
    .salon h1 {
        font-size: 0.7em;
    }

    .salon h2 {
        font-size: 1em;
    }
    .arena h1 {
        font-size: 1em;
    }
    .arena a {
        font-size: 0.6em;
    }
}

/*-------------------------------------------------*/

/* PROMOCIJA SALONA
--------------------------------------------------
-------------------------------------------------- */
.text-container {
    padding-top: 2%;
    padding-bottom: 2%;

}
/*-------------------------------------------------*/

/* SLIKE PROSTORA
--------------------------------------------------
-------------------------------------------------- */

.img-container {
    padding-bottom: 1%;
}
.img-container img {
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}
.img-container img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.img-container div {
    margin:0;
    padding: 0.6%;
}

/*-------------------------------------------------*/


/* MASAŽE U SALONU
--------------------------------------------------
-------------------------------------------------- */
.masage {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 2%;
    padding-bottom: 2%;
}
.masage img {
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}
.masage .row {
    display: table;
}

.masage [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.dark {
    background-color: rgba(0, 0, 0, 0.3);
}


.masage-ponuda {
    text-align: left;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.masage-ponuda .glyphicon {
    font-size: 20px;
}
.masage-ponuda p {
    font-size: 2em;
    text-align: left;
}
@media screen and (min-width: 1100px) {
    .masage-ponuda {
        padding-left: 0;
    }
}
@media screen and (max-width: 800px) {
    .masage-ponuda .glyphicon {
        font-size: 10px;
    }
    .masage-ponuda p {
        font-size: 1em;
    }
}



.masage-promotion {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(65, 105, 225, 0.5);
}
.masage-promotion p {
    margin-left: 10%;
    width: 80%;
}
.masage-promotion .glyphicon {
    font-size: 80px;
    color: white;
    text-align: center;
    display:block;
    padding-bottom: 2%;
}

@media screen and (max-width: 450px) {
    .masage-promotion p {
        font-size: 1em;
    }
}
/*-------------------------------------------------*/


/*5 Stars salon promocija
--------------------------------------------------
-------------------------------------------------- */

.stars {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 2%;
    padding-bottom: 2%;
}
.stars .row {
    display: table;
}

.stars [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.stars img {
    border-radius: 10px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.6);
}
/*-------------------------------------------------*/


/* POPUSTI
--------------------------------------------------
-------------------------------------------------- */
/*.popust-img {*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/


.popust {
    background: linear-gradient(rgba(255,255,255,0.01),rgba(255,255,255,0.1)), url("/images/5stars/21.jpg") no-repeat fixed;
    background-size: cover;
    height: 750px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.popust-content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popust h1 {
     font-size: 9em;
    color: yellow;
}
.popust h2 {
    font-size: 6em;
    color: yellow;
    opacity: 1;
}
.popust a {
    border-radius: 400px;
    background: rgba(65, 105, 225, 0.7);
    color: white;
    font-size: 4em;
 }

.popust a:hover {
    color: rgba(65, 105, 225, 0.9);
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1000px) {
    .popust h1 {
        font-size: 8em;
    }
    .popust h2 {
        font-size: 4em;
    }
    .popust a {

        font-size: 3em;
    }
    /*.popust-img {*/
        /*width: 120%;*/
    /*}*/
}

@media screen and (max-width: 800px) {
    .popust{
        height: 400px;
        width: 100%;
    }
    .popust h1 {
        font-size: 6em;
    }

    .popust h2 {
        font-size: 3em;
    }
    .popust a {

        font-size: 2em;
    }
    /*.popust-img {*/
        /*width: 130%;*/
    /*}*/
}

@media screen and (max-width: 600px) {
    .popust{
        height: 350px;
        width: 100%;
    }
    .popust h1 {
        font-size: 3.5em;
    }
    .popust h2 {
        font-size: 2.5em;
    }
    .popust a {

        font-size: 1.5em;
    }
    /*.popust-img {*/
        /*width: 140%;*/
    /*}*/
}
/*@media screen and (max-width: 400px) {*/
    /*.popust-img {*/
        /*width: 160%;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 300px) {*/
    /*.popust-img {*/
        /*width: 170%;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 200px) {*/
    /*.popust-img {*/
        /*width: 180%;*/
    /*}*/
/*}*/
/*-------------------------------------------------*/


/* GOOGLE MAPS
--------------------------------------------------
-------------------------------------------------- */
#googleMap {
    height: 0;
    overflow: hidden;
    padding-bottom: 35%;
    padding-top: 30px;
    position: relative;
    text-align: center;
}
/*-------------------------------------------------*/
