.navbar-custom {
    background: url("/images/navigacija.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    border-radius:0;
    font-family: 'Kanit', sans-serif;
}
.brand-style img {
    margin-top: -30px;
    width: 300px;
    filter: brightness(0.9);
}
@media screen and (max-width: 600px) {
    .brand-style img {
        margin-top: -30px;
        width: 220px;
        filter: brightness(0.9);
    }
}
.navbar-custom .navbar-nav > li > a {
    color: whitesmoke;
    padding-left:20px;
    padding-right:20px;
    transition: all .2s ease;
    font-size: 1.5em;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-custom .navbar-nav .open>a  {
    background-color: blue;
    border-radius: 2%;
    color: gold;
}

/* logo */

.navbar-custom .navbar-brand {
    color:silver;
}

/* dropdown icon */

.navbar-custom .navbar-toggle {
    background-color: silver;
}
.navbar-custom .icon-bar {
    background-color: darkblue;
}

.navbar-custom .nav .active  {
    color: gold;
    background: rgba(65, 105, 225, 0.3);
    border-radius: 2%;
}



/*
    footer
*/
footer {
    padding-top: 2%;
    background-color: whitesmoke;
    font-family: 'Kanit', sans-serif;
}
footer p {
    font-size:25px;
    color: royalblue;
}
footer a {
    color: royalblue;
}
footer a:hover {
    text-decoration: none;
}
.social-buttons i{
    color:royalblue;
}
.social-buttons img{
    height:35px;
    width:35px;
}


/*Author
-----------------------------------------------------------------
-----------------------------------------------------------------*/

.author img {
    width: 60px;
    height: 60px;
}
.author img:hover {
    cursor:default;
}
.link a:hover {
    cursor:default;
    text-decoration: none;
    color: inherit;
}
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

li {
    font-size: 0.8em;
    color: silver;
}


@media screen and (max-width: 600px) {
    footer p {
        font-size:15px;
    }
}